# .gitkeep files allows to push empty folders to conserv snakmake project structure

# Ignore log directory containing lsf logs and sample specific run logs
logs/*
workflow/logs/*

# Ignore snakemake hidden directories and tmp files
.snakemake/

# Ignore all data type files as BED, BAM, TXT or VCF
*.fasta
*.fa
*.bed
*.bam
*.txt
*.vcf
*.vcf.gz

# Except test bam file in test folder
!test/*.bam

# Ignore all files within result and resource folder
results/*
resources/data/*
# Except 
!resources/data/MEI_consensus_seqs_SCRAMble_plus_MOBSTER.fa

# IDLE related config files
.idea/

# Python cache directories
__pycache__

# Empty folders to keep
!logs/dry_runs/.gitkeep
!results/.gitkeep
!workflow/logs/.gitkeep
